# User service runtime
USER_BACKEND_ENV=dev
NODE_ENV=dev
USER_BACKEND_PORT=8002
USER_BACKEND_URL=http://localhost:8002

# Auth
USER_BACKEND_JWT_SECRET_KEY=change_me_to_a_long_random_secret
USER_BACKEND_JWT_EXPIRE_TIME=1d

# Database
USER_BACKEND_MONGODB_URI=mongodb://localhost:27017/user_service_db

USER_BACKEND_APP_NAME=E-learning User Service
